[tool.poetry]
name = "mozci"
version = "1.6.7"
description = ""
authors = [
  "Andrew Halberstadt <ahal@mozilla.com>",
  "Marco Castelluccio <marco@mozilla.com>",
]

[tool.poetry.dependencies]
python = "^3.7"
adr = "^0.19"
taskcluster_urls = ">=12.1,<14.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.6"
pytest = "^6.0"
tox = "^3.19"
responses = "^0.10"
sphinx = "^3.1.2"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
