[tool.poetry]
name = "mozci"
version = "1.2.6"
description = ""
authors = [
  "Andrew Halberstadt <ahal@mozilla.com>",
  "Marco Castelluccio <marco@mozilla.com>",
]

[tool.poetry.dependencies]
python = "^3.7"
adr = "^0.17"
taskcluster_urls = "^12.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.7"
pytest = "^5.3"
tox = "^3.14"
responses = "^0.10"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
