[tool.poetry]
name = "mozci"
version = "1.12.2"
description = ""
authors = [
  "Andrew Halberstadt <ahal@mozilla.com>",
  "Marco Castelluccio <marco@mozilla.com>",
]

[tool.poetry.dependencies]
python = ">=3.7,<4"
taskcluster_urls = "~13"
appdirs = "~1"
loguru = "~0"
cachy = "~0"
tomlkit = "~0"
boto3 = {version = "~1", optional = true}
zstandard = {version = "~0", optional = true}
python3-memcached = {version = "~1", optional = true}
redis = {version = "~3", optional = true}
requests = "~2"
voluptuous = "~0"
flake8 = "~3"
pyyaml = "~5"
taskcluster = "~39"

# Optional dependencies
adr = { version = "~0", optional = true }

[tool.poetry.dev-dependencies]
pre-commit = "^2.9"
pytest = "^6.1"
tox = "^3.20"
responses = "^0.12"
sphinx = "^3.3.0"

[tool.poetry.extras]
adr = ["adr"]

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
