[tool.poetry]
name = "mozci"
version = "1.4.5"
description = ""
authors = [
  "Andrew Halberstadt <ahal@mozilla.com>",
  "Marco Castelluccio <marco@mozilla.com>",
]

[tool.poetry.dependencies]
python = "^3.7"
adr = "^0.17.9"
taskcluster_urls = "^12.1"

[tool.poetry.dev-dependencies]
pre-commit = "^2.1"
pytest = "^5.3"
tox = "^3.14"
responses = "^0.10"
sphinx = "^3.0.1"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
