[tool.poetry]
name = "mozci"
version = "1.9.1"
description = ""
authors = [
  "Andrew Halberstadt <ahal@mozilla.com>",
  "Marco Castelluccio <marco@mozilla.com>",
]

[tool.poetry.dependencies]
python = "^3.7"
adr = "^0.19"
taskcluster_urls = ">=12.1,<14.0"
appdirs = "^1.4.4"
loguru = "^0.5.1"
cachy = "^0.3.0"
tomlkit = "^0.6.0"
boto3 = {version = "^1.14.20", optional = true}
zstandard = {version = "^0.14.0", optional = true}
python3-memcached = {version = "^1.51", optional = true}
redis = {version = "^3.5.3", optional = true}
requests = "^2.24.0"
voluptuous = ">=0.11.7,<0.13.0"
flake8 = "^3.8.3"
taskcluster = "^30.1.1"
# aiohttp is an unlisted dependency of taskcluster, see https://github.com/taskcluster/taskcluster/issues/3730
aiohttp = "^3.6.3"

[tool.poetry.dev-dependencies]
pre-commit = "^2.7"
pytest = "^6.1"
tox = "^3.20"
responses = "^0.12"
sphinx = "^3.1.2"

[build-system]
requires = ["poetry>=1.0.2"]
build-backend = "poetry.masonry.api"
